$primary-bg: linear-gradient(to right, #83a4d4, #b6fbff);
$secondary-bg: #ffc800de;
$background-body: #cfe4ff;
$text-color: #0000009c;
$card-bg: #ffeded;
$font-size-base: 16px;
$main-font: 'Comic Sans MS', cursive, sans-serif;
$shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

